        <section>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div id="card-img" class="col">
                <div id="card-img" class="card text-bg-dark">
                  <img src="https://cdn.pixabay.com/photo/2015/02/11/21/54/concert-633110__480.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">RAP</h5>
                    <p class="card-text"></p>
                    <a href="/views/rap.handlebars" class="btn btn-light">INVENTORY</a>
                  </div>
                </div>
              </div>
              <div id="card-img" class="col">
                <div class="card text-bg-dark">
                  <img src="https://cdn.pixabay.com/photo/2016/12/29/02/33/man-1937623__480.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">COUNTRY</h5>
                    <p class="card-text"></p>
                    <a href="/views/country.handlebars" class="btn btn-light">INVENTORY</a>
                  </div>
                </div>
              </div>
              <div id="card-img" class="col">
                <div class="card text-bg-dark">
                  <img src="https://cdn.pixabay.com/photo/2017/08/01/11/43/black-and-white-2564630__480.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">ROCK</h5>
                    <p class="card-text"></p>
                    <a href="/views/rock.handlebars" class="btn btn-light">INVENTORY</a>
                  </div>
                </div>
              </div>
            <div id="card-img" class="col">
                <div class="card text-bg-dark">
                  <img src="https://cdn.pixabay.com/photo/2016/08/15/16/56/singer-1595864__480.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">POP</h5>
                    <p class="card-text"></p>
                    <a href="/views/pop.handlebars" class="btn btn-light">INVENTORY</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
    </section>