<div class="inventoryColumn">
  <form class="column" id="signup-form">
    <h2 class="log">Sign Up</h2>
    <label class="loginInput">Name:</label>
    <input class="userInput" type="text" name="usernameField" id="name-signup">
    <label class="loginInput">Email:</label>
    <input class="userInput" type="email" name="passwordField" id="email-signup">
    <label class="loginInput">Password:</label>
    <input class="userInput" type="password" name="passwordField" id="password-signup">
    <div class="row">
        <button type="submit" id="loginButton">Sign Up</button>
        <a href="/">Login Instead</a>
    </div>
  </form>
</div>
  <script src="/js/signup.js"></script>