@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

html {
    font-family: "Ubuntu Sans Mono", monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 100%;
    background-size: 100%;
    background-image: url('/images/header11.png');
    background-position: center;
    color: white;
    font-size: 50px;
}

.inventoryColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 25px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 120px;
}

.row a {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.row a:hover {
    color: #1641ff;
    border-color: #1641ff;
}

a {
    font-family: "Ubuntu Sans Mono", monospace;
    font-weight: bold;
}

.back:link {
    position: relative;
    top: 2px;
    border-left: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
}

.back:visited {
    color: black;
}

.logout {
    display: flex;
}

#logout {
    color: black;
    background: transparent;
    border: none;
    font-size: 20px;
    padding: 10px 6px 0px 20px;
    cursor: pointer;
    font-family: "Ubuntu Sans Mono", monospace;
    font-weight: bold;
}

.log {
    font-size: 40px;
}

.loginTitle {
    font-size: 40px;
}

.loginInput {
    font-size: 25px;
}

.userInput {
    font-size: 20px;
    border-color: black;
    border-radius: 5px;
    padding: 12px 250px 12px 12px;
}

.loginButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#loginButton {
    color: white;
    height: 40px;
    width: 150px;
    background-color: rgb(0, 0, 255);
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

#loginButton:hover {
    background-color: #1641ff;
}

.orderGenre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.genreImage {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

a:link {
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
}

h3 {
    color: black;
    margin: 0px 0px 10px 0px;
}

.orderAdd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.addInventory {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.selectInput {
    height: 30px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.input {
    height: 20px;
    width: 190px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}

.addButton {
    height: 40px;
    width: 180px;
    color: white;
    background-color: rgb(0, 0, 255);
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.addButton:hover {
    background-color: #1641ff;
    cursor: pointer;
}

.inventoryCard {
    display: flex;
    justify-content: space-between;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 20px 5px 20px;
    margin-top: 20px;
}

.edit {
    position: relative;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit a {
    font-size: 16px;
    color: black;
}

.edit a:hover {
    border: 2px solid black;
    border-radius: 5px;
}

button {
    font-family: "Ubuntu Sans Mono", monospace;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    header {
        height: 100px;
    }

    h1 {
        font-size: 45px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loginTitle {
        margin-bottom: 10px;
    }

    .userInput {
        width: 300px;
        padding: 12px;
    }

    #signup-form {
        margin-bottom: 50px;
    }

    .inventoryCard {
        width: 300px;
    }

}