header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 100%;
    background-size: 100%;
    background-image: url('/images/header11.png');
    background-position: center;
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.inventoryColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 25px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back:link {
    position: relative;
    top: 2px;
    border-left: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.back:visited {
    color: black;
}

.logout {
    display: flex;
}

#logout {
    color: black;
    background: transparent;
    border: none;
    font-size: 20px;
    padding: 10px 6px 0px 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loginTitle {
    font-size: 50px;
}

.loginInput {
    font-size: 30px;
}

.userInput {
    font-size: 20px;
    border-color: black;
    border-radius: 5px;
    padding: 12px 250px 12px 12px;
}

.loginButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#loginButton {
    color: white;
    height: 40px;
    width: 150px;
    background-color: rgb(0, 0, 255);
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

#loginButton:hover {
    background-color: #1641ff;
}

.orderGenre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.genreImage {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

a:link {
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
}

h3 {
    color: black;
    margin: 0px 0px 10px 0px;
}

.orderAdd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.addInventory {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.selectInput {
    height: 30px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.input {
    height: 20px;
    width: 190px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}

.inventoryButton {
    margin-bottom: 50px;
}

.addButton {
    height: 40px;
    width: 150px;
    background-color: rgb(0, 0, 255);
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.addButton:hover {
    background-color: #1641ff;
    cursor: pointer;
}

.inventoryCard {
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 20px 5px 20px;
    margin: 10px;
}
